<br><br><br><br><br>


<div class="container">
  <strong><p> Apprenticeship for :  <%= @apprenticeship.post.skill.title %></p></strong>
  <p> Subject line: <%= @apprenticeship.post.description %> </p>
  <p> <strong>Offer:</strong>  <%= @apprenticeship.offer %> </p>
</div>


<% if @over_ten %>
   <%= link_to 'Show Previous', '?m=all' %>
<% end %>

<br><br><br><br><br>
<div class="container chat-container">
  <div class="ui segment chat-main">
    <% @messages.each do |message| %>
      <% if message.body %>
        <% @user = User.find(message.user_id) %>
        <%= render :partial => 'message', :locals =>{:user => @user, :message => message}  %>
      <% end %>
    <% end %>
  </div>

  <%= form_for [@apprenticeship, @message], html: {class: "ui reply form"} do |f| %>
    <div class="field">
      <%= f.text_area :body, class: "form-control" %>
      <%= f.hidden_field :user_id, :value => current_user.id %>
    </div><br>

    <div>
      <input class="btn btn-primary chat-submit" type="submit" value="Add reply">
    </div>

  <% end %>
</div>
