<br><br><br><br><br><% if @errors %>
<div class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <div id="error_explanation">
      <%= @errors %>
    </div>
  </div>
<% end %>


<div class="row">
  <div class="col-md-3 col-md-offset-4">
    <h1>Update your profile</h1><br>
    <%= form_for @user do |f| %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>

      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>

      <%= f.label :username %>
      <%= f.text_field :username, class: 'form-control' %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %><br>

      <%= f.submit "Update!", class: "btn btn-primary" %>
    <% end %><br>
  </div>
</div>
