<br><br><br><br><br><%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="alert alert-danger" role="alert">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <div id="error_explanation">
        <h2>
          <%= pluralize(@user.errors.count, "error") %>
          prohibited
          this form from being saved:
        </h2>
        <ul>
        </ul>
      </div>
      <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <%end%>
    </div>
    <% end %>
  <% end %>

<div class="row">
  <div class="col-md-3 col-md-offset-4">
    <h1>Register</h1><br>
    <%= form_for :user, url: '/users', :html => {:class => "form-group"} do |f| %>

    <div class="form-group">
      <label for="username">Username: </label>
      <%= f.text_field :username, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label for="birthdate">Birthdate: </label>
      <%= f.text_field :birthdate, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label for="first_name">First Name: </label>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <label for="last_name">Last Name: </label>
      <%= f.text_field :last_name, class: 'form-control' %>
    <div/>

    <div class="form-group">
      <label for="email">Email: </label>
       <%= f.text_field :email, class: 'form-control' %>
    <div/>

    <div class="form-group">
      <label for="Password">Password: </label>
      <%= f.password_field :password, class: 'form-control' %>
    <div/>

    <div class="form-group">
      <label for="password_conf">Password Confirmation: </label>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
    <div/><br>
      <%= f.submit "Submit", class: "btn btn-primary" %><br>
  <% end %><br><br>
</div>
</div>
