<br><br><br><br><br><br><br>
<% if @errors %>
<%= @errors %>
<% end %>

<div class="container">
  <h1>Welcome <%= @user.first_name %>!</h1>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="well well-sm">
        <div class="row">
          <div class="col-sm-6 col-md-8">
            <h2>
              <%= @user.username %></h2>
              <label>First Name: </label>
              <%= @user.first_name %>
              <br><br>
              <label>Last Name: </label>
              <%= @user.last_name %>
              <p><br>
                <i class="glyphicon glyphicon-envelope"></i>&nbsp;&nbsp;<%= @user.email %>
                <br /><br>
                <% if current_user.id === @user.id %>
                <%= link_to "Edit Profile", edit_user_path(@user) %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="container">
  <div class="left-table">
    <div class="table-responsive">
      <table class="table">
        <thead class="thead-inverse">
          <h2>Skills I have</h2>
          <tr>
            <th>Title</th>
            <th>Description</th>
          </tr>
        </thead>
        <tbody>
          <% @user.posts.each do |post| %>
            <tr>
              <td><%= post.skill.title %></td>
              <td><%= post.description %></td>
              <td><%= link_to "Link", post_path(post) %></td>
              <td><%= link_to 'Delete', post, :method => :delete, :confirm => "Are you sure?" %></td>
              <td><%= link_to 'Edit', edit_post_path(post)%></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <table class="table">
    <h2>Connections</h2>
    <% @user.posts.each do |post| %>
        <% post.apprenticeships.each do |a| %>
        <tr>
          <td>Offer: <%= a.offer %></td>
          <br>
          <td>Requestor: <%= a.requestor.username %></td>
          <td><%= link_to "Post Page", post_path(post) %></td>
          <br>
          <td>Status:
           <% if a.accepted == false %>
           <p>In Progess</p>
            <% else %>
            <p>Accepted</p>
            <% end %>
         </td>
        </tr>
        <% end %>
    <% end %>
  </table>
</div>

<div class="container">
  <div class="table-responsive">
    <table class="table">
      <h2>Requests</h2>
          <% @requests.each do |a| %>
          <tr>
            <td>Offer: <%= a.offer %></td>
            <br>
            <td>
              Post Owner: <%= a.post.creator.username %></td>
            <td><%= link_to "Post Page", post_path(a.post) %></td>
            <br>
            <td>Status:
             <% if a.accepted == false %>
             <p>In Progess</p>
              <% else %>
              <p>Accepted</p>
              <%= link_to 'Apprenticeship', apprenticeship_messages_path(a) , class: "btn btn-primary" %>
              <% end %>
           </td>
          </tr>
          <% end %>
    </table>
  </div>
</div>
<div class="container">
  <div class="form-group">
      <% if current_user.id === @user.id %>
        <h2>Add Skill</h2>
        <%= form_for Post.new do |f| %>
            <%= f.label :skill %>
             <%= f.collection_select(:skill_id, Skill.all, :id, :title) %>
             <div class="form-group">
              <label for="">Description</label>
                <%= f.text_area :description, :rows => 5, style: 'width:50%;', class: "form-control"%>
            </div>
            <br>
          <%= f.submit "Add Skill", class: "btn btn-primary" %>
        <% end %>
      <% end %>
      <br><br>
  </div>
</div>
