<br><br><br><br>
<h1>User Profile</h1>
<h2><%= @user.first_name %></h2>

<table class="table">
  <thead>
    <tr>

      <th>Skills</th>
      <th></th>
      <th>Skills I want to Learn</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>
        <ul>
        <% @user.skills.each do |skill| %>
          <% if skill.teach %>
            <li class="col-md-1"><%= skill.title %></li>
          <% end %>
        <% end %>
        </ul>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>
        <ul>
        <% @user.skills.each do |skill| %>
          <% if skill.teach === false %>
            <li class="col-md-1"><%= skill %></li>
          <% end %>
        <% end %>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<% if current_user.id === @user.id %>
  <h2>Add Skill</h2>
  <%= form_for @skill do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.select (:teach) do %>
      <% [['teach', true],['learn',false]].each do |c| %>
        <%= content_tag(:option, c.first, value: c.last) %>
      <% end %>
    <% end %>
    <%= f.select (:subcategory_id) do %>
      <% @subcategories.each do |subcategory| %>
        <%= content_tag(:option, subcategory.title, value: subcategory.id) %>
      <% end %>
    <% end %>
    <div>
    <%= f.label :description %>
    <%= f.text_area :description %>
    </div>
    <%= f.submit "Add Skill" %>
  <% end %>
<% end %>
