<div class="skill-body">
<div class="skill-new-post btn btn-link">
  <%= link_to "New Post", new_post_path(:skill_id => @skill.id) %>
</div>

  <div class="skill-show">
    <h1>Skill: <%= @skill.title %></h1>
    <% @skill.posts.each do |post| %>
    <%= link_to 'User Profile', user_path(post.creator), class: "btn btn-info" %>
      <div class="card-block">
        <%= link_to image_tag(post.skill.img_url, :class => "img-fluid", size: "320x256"), post_path(post.id) %>
        <div class="card-block">
          <br>
          <p class="card-text">Description: <%= post.description %></p>
        </div>
      </div>
      <br>

        <% if logged_in? %>
          <% if post.creator != current_user %>
            <%= form_for :apprenticeship, url: '/apprenticeships' do |f| %>
              <%= f.label "Offer: "%>
              <%= f.text_field :offer %>
              <%= f.hidden_field :requestor_id, :value => current_user.id %>
              <%= f.hidden_field :post_id, :value => post.id %>
              <%= f.submit "Send Request", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      <% end %>
      <br>
    <% end %>
  </div>
