<br><br><br><br><br>

<div class="skill-body black-bg">
  <div class="skill-new-post btn btn-link">
    <%= link_to "New Post", new_post_path(:skill_id => @skill.id) %>
  </div>

<div class='container-fluid black-bg'>
    <h1><%= @skill.title %></h1>
    <br>
    <div class="card-group display-of-cards center-objects">
      <% @skill.posts.each do |post| %>
      <div class="card col-md-3 col-xs-12 text-center card-border well">
          <h3 class="card-title skill-title card-img-overlay"><%= post.skill.title %></h4>
          <%= link_to image_tag(post.skill.img_url, :class => "card-img-top img-post", size: "256x205"), post_path(post.id) %>
        <div class="card-block">
        <br>
        <p class="card-text text-of-card"><%= link_to post.description, post_path(post.id) %></p>
        <%= link_to "View Posting", post_path(post.id), :class => "btn btn-primary btn-block black-bg" %>
        <%= link_to "See #{post.creator.username}'s profile", post.creator, :class => "btn btn-primary btn-block black-bg"%>
            <% if logged_in? %>
            <% if post.creator != current_user %>
            <%= form_for :apprenticeship, url: '/apprenticeships' do |f| %>
            <%= f.label "Offer: "%>
            <%= f.text_field :offer %>
            <%= f.hidden_field :requestor_id, :value => current_user.id %>
            <%= f.hidden_field :post_id, :value => post.id %>
            <%= f.submit "Send Request", class: "btn btn-primary" %>
            <% end %>
            <% end %>
            <% end %>
          </div>
        </div>



      <% end %>
        </td>
      </tr>
    </table>
  </div>
</div>
