<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  <nav class="navbar navbar-default navbar-fixed-top navbar-inner" role="navigation">
          <div class="container">
              <div class="navbar-header page-scroll">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand page-scroll" href="#page-top">Skill-up</a>
              </div>

              <div class="collapse navbar-collapse navbar-ex1-collapse">
                  <ul class="nav navbar-nav">
                      <li class="hidden">
                          <%= link_to "Skill Up", '/', id: "logo" %>
                      </li>
                    <% if logged_in? %>
                      <li>
                        <%= link_to "Profile", @user, class: "navbar-li" %>
                      </li>
                      <li>
                          <%= link_to "Logout",   '/logout' ,class: "navbar-li"%>
                      </li>
                      <% else %>
                      <li>
                          <%= link_to "Register", new_user_path ,class: "navbar-li"%>
                      </li>
                      <li>
                        <%= link_to "Login",   '/login' ,class: "navbar-li"%>
                      </li>
                      <% end %>
                  </ul>
              </div>
          </div>
      </nav>

  <br>

  <%= form_tag posts_search_path, method: "get" do %>
  <div>
    <%= text_field_tag(:query) %>
  </div>
  <%= submit_tag("Search")%>
  <% end %>
