<!DOCTYPE html>
<html>
  <head>
    <title>SkillUp</title>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    

    <%= action_cable_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inner" role="navigation">
            <div class="container">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    </button>
                    <%= link_to "Skill Up", '/', id: "logo" %>
                </div>

                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav nav-link navbar-li">
                      <% if logged_in? %>
                        <li class="navbar-li" >
                          <%= link_to "Profile", current_user, class: "navbar-li" %>
                        </li>
                        <li id="navbar-li" >
                            <%= link_to "Logout",   '/logout' ,class: "navbar-li"%>
                        </li>
                        <% else %>
                          <li class="navbar-li" >
                            <%= link_to "Register", new_user_path ,class: "navbar-li"%>
                        </li>
                          <li class="navbar-li" >
                          <%= link_to "Login",   '/login' ,class: "navbar-li"%>
                        </li>
                        <% end %>

                    </ul>
                    <div class="pull-right search-bar">
                      <%= form_tag posts_search_path, method: "get" do %>
                        <%= text_field_tag(:query, "", :id => "message") %>
                      <%= submit_tag("Search", :class => "send-button") %>
                      <% end %>
                    </div>
                </div>
            </div>
        </nav>
    <%= yield %>
  </body>

</html>
